:root {
  --app-font: sans-serif;
  --app-font-size: 16px;
  --app-font-color: #000;
  --app-icon-fill: 0;
  --app-icon-fill: 1;
  --app-primary-color: #2563eb;
  --app-warn-color: #ef4444;
  --app-icon-fill: 1;

  --app-font-mono: monospace;

  font-family: var(--app-font);
  font-size: var(--app-font-size);
  color: var(--app-font-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  font-weight: 600;
  cursor: pointer;
}

button > * {
  pointer-events: none;
}

.app-cl-primary {
  color: var(--app-primary-color);
}

.app-cl-warn {
  color: var(--app-warn-color);
}

.app-cl-warn:disabled {
  opacity: 0.25;
}

.app-cl-warn:not(:disabled) {
  --app-icon-fill: 1;
}

.app-cmp-input-list,
.app-main-container {
  display: flex;
  flex-direction: column;
}

.app-cl-dummy {
  visibility: hidden !important;
}

.app-cmp-input-container,
.app-cmp-input-container > label {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
}

.app-cmp-input-container > label {
  flex: 1 0 auto;
}

.app-cmp-input-title::after {
  content: "::";
  color: var(--app-primary-color);
  font-weight: 600;
  margin-left: auto;
  margin-right: 1ch;
}

.app-cmp-input-title {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 15ch;
}

.app-cmp-input,
.app-cmp-result {
  flex: 1 0 auto;
}

input[type="number"],
.app-cl-number {
  font-family: var(--app-font-mono);
  text-align: right;
  font-size: inherit;
}

.app-cmp-input-no {
  display: inline-block;
  flex-direction: row;
  margin: 0 1ch;

  width: 3ch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

.app-cmp-result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1px;
}
